<!DOCTYPE html>
<html>
<head>
    <title>Launch Sites</title>
</head>
<body>
    <a href="/">Launches</a>
    <h1>Launch Sites</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Launch Attempts</th>
        </thead>
        <tbody>
            {% for launchSite in launchSiteData %}
            <tr>
                <td style="vertical-align: middle;">{{ launchSite.name }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ launchSite.launchAttempts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>