<!DOCTYPE html>
<html>
<head>
    <title>Launches</title>
</head>
<body>
    <a href="/launch-sites">Launch sites</a>
    <h1>Launches</h1>
    <table>
        <thead>
            <th>Year</th>
            <th>Successful Landings</th>
        </thead>
        <tbody>
            {% for launchpad in launchpadData %}
            <tr>
                <td style="width: 80px; text-align: center; vertical-align: middle;">{{ launchpad.year }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ launchpad.successfulLandings }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>